:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: sans-serif;
	--font-accent: 'Manrope', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--color-border: #252526;
	--hover: #0c79dc;
	--accent: #ac182c;
	--success: #47c227;
	--link-color: #2578c8;
	--background: #c0e4f4;
	--background-active: #84cae9;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
	--color-border: #fff;
}