.table-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .table__column {
    flex: 1;
  }

  & .column__element {
    padding: 0.7rem;
    border: 1px solid var(--color-border);
    background: var(--background);
  }

  & .element {
    & .element__letter {
      display: flex;
      justify-content: space-between;
    }

    &:has(.element__counter) {
      cursor: pointer;
      background: var(--background-active);
    }
  }

}